@page "/Consulta"

@inject OcupacionesBLL ocupacionbll

<div class="container">
		<table class="table table-hover">
			
				
				<thead class="thead-dark">
					<tr>
						<th>OcupacionId</th>
						<th>Descripcion</th>
						<th>Salario</th>
					</tr>

				</thead>
				<tbody>
			@foreach (var item in ocupacionbll.GetList()){
					<tr>
						<td>@item.OcupacionID</td>
						<td>@item.Descripcion</td>
						<td>@item.Salario</td
					</tr>
			}


				</tbody>
			
		</table>

</div>
