@page "/ocupacion"
@page "/ocupacion/{OcupacionId:int}"

@inject OcupacionesBLL ocupacionesBll

<EditForm Model="ocupacion" OnInvalidSubmit="Guardar">
	<div class= "card">
	<div class= "card-header">
		<h1> Registo </h1>
	</div>

	<div class="card-body">
		<label>OcupacionID: </label><br>
		<InputNumber @bind-Value="ocupacion.OcupacionID" class="form-control" />
		<br>
		<button type="buttom" class="btn btn-primary" @onclick="Buscar"><span class ="oi oi-file" </span>Buscar</button><br>
		<label>Descripcion: </label><br>
		<InputText @bind-Value="ocupacion.Descripcion" class="form-control" />
		<br>
		<label>Salario: </label><br>
		<InputNumber @bind-Value="ocupacion.Salario" class="form-control" />
		<br>
	</div>

	<div class="model-footer">
		<button type="buttom" class="btn btn-primary" @onclick="Nuevo"><span class ="oi oi-file" </span>Nuevo</button>
		<button type="submit" class="btn btn-success" @onclick="Guardar"><span class ="oi oi-delete"</span>Guardar</button>
		<button type="button" class="btn btn-danger" @onclick="Eliminar"><span class ="oi oi-document"</span>Eliminar</button>
	</div>

</div>
</EditForm>

@code{
	[Parameter]

	public int OcupacionId { get; set; }

	public Ocupaciones ocupacion { get; set; } = new Ocupaciones();

	protected override void OnInitialized(){
		if(OcupacionId > 0){
			this.ocupacion.OcupacionID = OcupacionId;
			this.Buscar();
		}
	}

	void Buscar(){

		var ocupacionEncontrada = ocupacionesBll.Buscar(ocupacion.OcupacionID);
		if(ocupacionEncontrada != null){
			this.ocupacion = ocupacionEncontrada;
		}
	}

	void Nuevo(){
		this.ocupacion = new Ocupaciones();

	}

	void Guardar(){

		var guardado = ocupacionesBll.Guardar(ocupacion);

		if(guardado){
			Nuevo();
		}
		else{

		}

	}

	void Eliminar(){
		bool eliminado;

		eliminado = true;

		if(eliminado){
			Nuevo();
		}
		else{

		}

	}

	 

}