@page "/Prestamo"
@page "/prestamo/{PrestamoId:int}"

@inject PrestamoBLL prestamoBLL

<EditForm Model="prestamo" OnInvalidSubmit="Guardar">
    <div class= "card">
    <div class= "card-header">
        <h1> Registo Persona </h1>
    </div>
    

    <div class="card-body">
        <label>PrestamoId: </label><br>
        <InputNumber @bind-Value="prestamo.PrestamoId" class="form-control" /><br>

        <label>Fecha: </label><br>
        <InputText @bind-Value="prestamo.Fecha" class="form-control" /><br>

        <label>Vence: </label><br>
        <InputText @bind-Value="prestamo.Vence" class="form-control" /><br>

        <label>PersonaId: </label><br>
        <InputNumber @bind-Value="prestamo.PersonaId" class="form-control" /><br>

        <label>Concepto: </label><br>
        <InputText @bind-Value="prestamo.Concepto" class="form-control" /><br>

        <label>Monto: </label><br>
        <InputNumber @bind-Value="prestamo.monto" class="form-control" /><br>

        <label>Balance: </label><br>
        <InputNumber @bind-Value="prestamo.balance" class="form-control" /><br>

    </div>

<div class="model-footer">
        <button type="buttom" class="btn btn-primary" @onclick="Nuevo"><span class ="oi oi-file" </span>Nuevo</button>
        <button type="submit" class="btn btn-success" @onclick="Guardar"><span class ="oi oi-delete"</span>Guardar</button>
        <button type="button" class="btn btn-danger" @onclick="Eliminar"><span class ="oi oi-document"</span>Eliminar</button>
    </div>

</div>
</EditForm>

@code {
    [Parameter]

    public int PrestamoId { get; set; }

    public Prestamo prestamo { get; set; } = new Prestamo();

    protected override void OnInitialized()
    {
        if (PrestamoId > 0)
        {
            this.prestamo.PrestamoId = PrestamoId;
            this.Buscar();
        }
    }

    void Buscar()
    {

        var prestamoEncontrada = prestamoBLL.Buscar(prestamo.PrestamoId);
        if (prestamoEncontrada != null)
        {
            this.prestamo = prestamoEncontrada;
        }
    }

    void Nuevo()
    {
        this.prestamo = new Prestamo();

    }

    void Guardar()
    {

        var guardado = prestamoBLL.Guardar(prestamo);

        if (guardado)
        {
            Nuevo();
        }
        else
        {

        }

    }

    void Eliminar()
    {
        bool eliminado;

        eliminado = true;

        if (eliminado)
        {
            Nuevo();
        }
        else
        {

        }

    }



}