<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> home
            </NavLink>
        </div>

        <a class="navbar-brand">Ocupaciones</a>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupacion" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Ocupacion
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="Consulta">
                <span class="oi oi-person" aria-hidden="true"></span> ConsultaOcupacion
            </NavLink>
        </div>

        <a class="navbar-brand">Personas</a>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Persona" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Persona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaPersona" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> ConsultaPersona
            </NavLink>
        </div>

        <a class="navbar-brand">Prestamos</a>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prestamo" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Prestamo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaPrestamo" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> ConsultaPrestamo
            </NavLink>
        </div>

        <a class="navbar-brand">Pagos</a>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagos" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Pagos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaPago" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> ConsultaPago
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}